
html, body{
    margin: 0;
    padding: 0;
    font-size: 100%;
    outline: none;
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
body * {
    color: #434343
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
a {
    text-decoration: none;
    background-color: transparent;
}

img{
    max-width: 100%;
}

a,
a:focus,
a:hover,
input:focus,
select:focus,
button:focus,
textarea:focus,
:focus {
    outline: none;
}

input {
    width:100%;
    color: #ffffff;
    background-color: #303435;
    font-weight: 700;
    padding: 15px 45px 15px 30px;
    border: none;
    border-radius: 100px;
    -webkit-box-shadow: none;
            box-shadow: none;
}

input::-webkit-input-placeholder {color: #647073;}
input::-moz-placeholder          {color: #647073;}
input:-moz-placeholder           {color: #647073;}
input:-ms-input-placeholder      {color: #647073;}

.personalArea-formInfo .write-comment input::-webkit-input-placeholder {color: #00c0ff;}
.personalArea-formInfo .write-comment input::-moz-placeholder          {color: #00c0ff;}
.personalArea-formInfo .write-comment input:-moz-placeholder           {color: #00c0ff;}
.personalArea-formInfo .write-comment input:-ms-input-placeholder      {color: #00c0ff;}

input::-webkit-input-placeholder {font-size:13px;}
input::-moz-placeholder          {font-size:13px;}
input:-moz-placeholder           {font-size:13px;}
input:-ms-input-placeholder      {font-size:13px;}

input::-webkit-input-placeholder {vertical-align: middle;}
input::-moz-placeholder          {vertical-align: middle;}
input:-moz-placeholder           {vertical-align: middle;}
input:-ms-input-placeholder      {vertical-align: middle;}

input[placeholder]          {font-size:13px;}
input::-webkit-input-placeholder {font-size:13px;}
input::-moz-placeholder     {font-size:13px;}
input:-moz-placeholder      {font-size:13px;}
input:-ms-input-placeholder {font-size:13px;}

input[placeholder]          {line-height:14px;}
input::-moz-placeholder     {line-height:14px;}
input:-moz-placeholder      {line-height:14px;}
input:-ms-input-placeholder {line-height:14px;}

input[placeholder]          {text-align: left;}
input:-ms-input-placeholder {text-align: left;}

input.competitor:-ms-input-placeholder      {color: #9fb0b5;}
input.competitor::-webkit-input-placeholder {color: #9fb0b5;}

input.number::-webkit-input-placeholder {color: #181b1c;}
input.number:-ms-input-placeholder      {color: #181b1c;}

input.link-phone::-webkit-input-placeholder {color: #ffffff;}
input.link-phone:-ms-input-placeholder      {color: #ffffff;}

.write-comment input::-webkit-input-placeholder {color: #303435;}
.write-comment input:-ms-input-placeholder      {color: #303435;}

.write-comment input::-webkit-input-placeholder {font-size:15px;}
.write-comment input:-ms-input-placeholder      {font-size:15px;}

.write-comment input::-webkit-input-placeholder {font-family:'proxima_novaextrabold_italic'; }
.write-comment input:-ms-input-placeholder      {font-family:'proxima_novaextrabold_italic'; }

input.competitor::-webkit-input-placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #9fb0b5;
    opacity: 1; /* Firefox */
}

input.competitor:-ms-input-placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #9fb0b5;
    opacity: 1; /* Firefox */
}

input.competitor::-ms-input-placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #9fb0b5;
    opacity: 1; /* Firefox */
}

input.competitor::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #9fb0b5;
    opacity: 1; /* Firefox */
}
input.competitor:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #9fb0b5;
}
input.competitor::-ms-input-placeholder { /* Microsoft Edge */
    color: #9fb0b5;
}
.write-comment input.grey::-webkit-input-placeholder {color: #9fb0b5;}
.write-comment input.grey::-moz-placeholder          {color: #9fb0b5;}
.write-comment input.grey:-moz-placeholder           {color: #9fb0b5;}
.write-comment input.grey:-ms-input-placeholder      {color: #9fb0b5;}


a,
.anim {
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */ /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
.wrapper {
    position: relative;
    min-width: 320px;
    max-width: 1480px;
    width: 100%;
    min-height: 100%;
    padding: 0 20px 460px;
    margin: 0 auto;
    overflow: hidden;
    box-sizing: border-box;
}
.small-container{
    width: 980px;
    float:left;
}
.h1{
    font-size: 40px;
    line-height: 47px;
    color: #EC672C;
    font-weight: 700;
    margin-bottom: 20px;
}
.h1.white{
    color: #ffffff;
}
/*.container{
    width: 1480px;
    padding: 0 20px;
    margin: 0 auto;
}*/
/*--------------------*/

header{
    background-color: #ffffff;
    padding: 20px 0;
    overflow: hidden;
}

header .logo{
    display: block;
    float: left;
}
header ul{
    list-style: none;
    padding: 33px 0;
    margin: 0;
}
header nav ul{
    padding-left: 60px;
    border-right: 2px solid #F2F2F2;
}
header li{
    display: inline-block;
}
header nav li{
    margin-right: 45px;
}
header nav li,
header nav li a{
    font-size: 20px;
    line-height: 23px;
    font-weight: 500;
    color:#9D9C9D;
}
header .phone{
    padding-left: 25px;
}
header .phone li{
    margin-left: 20px;
}
header .phone a{
    font-size: 18px;
    line-height: 21px;
    color:#9D9C9D;
}
header a:hover{
    color:#9D9C9D;
}
/*------main-select------*/
.ytp-large-play-button{
    background-color: #ffffff;
}
.ytp-large-play-button.ytp-touch-device .ytp-large-play-button-bg, 
.ytp-cued-thumbnail-overlay:hover .ytp-large-play-button-bg{
    background-color: #ffffff;
}
.ytp-large-play-button{
    width: 130px;
    height: 130px;
}
.svg path{
    fill: #EC672C;
}
.svg path.ytp-large-play-button-bg{
    fill: #ffffff;
}


/*about*/
.about{
    overflow: hidden;
    padding: 90px 0 160px;
}
.about-item{
    width: 25%;
    display: inline-block;
    margin: 0 -3px;
    padding: 10px;
    text-align: center;
    color: #9D9C9D;
    font-size: 16px;
    font-weight: 700;
}