
html, body{
    margin: 0;
    padding: 0;
    font-size: 100%;
    outline: none;
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
body * {
    color: #434343
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
a {
    text-decoration: none;
    background-color: transparent;
}

img{
    max-width: 100%;
}

a,
a:focus,
a:hover,
input:focus,
select:focus,
button:focus,
textarea:focus,
:focus {
    outline: none;
}

input {
    border: none;
    -webkit-box-shadow: none;
            box-shadow: none;
}

input::-webkit-input-placeholder {color: #434343;}
input::-moz-placeholder          {color: #434343;}
input:-moz-placeholder           {color: #434343;}
input:-ms-input-placeholder      {color: #434343;}

input::-webkit-input-placeholder {font-size:18px;}
input::-moz-placeholder          {font-size:18px;}
input:-moz-placeholder           {font-size:18px;}
input:-ms-input-placeholder      {font-size:18px;}

input[placeholder]          {line-height:23px;}
input::-moz-placeholder     {line-height:23px;}
input:-moz-placeholder      {line-height:23px;}
input:-ms-input-placeholder {line-height:23px;}


a,
.anim {
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */ /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
.wrapper {
    position: relative;
    min-width: 320px;
    max-width: 1480px;
    width: 100%;
    min-height: 100%;
    padding: 95px 20px 460px;
    margin: 0 auto;
    overflow: hidden;
    box-sizing: border-box;
}
.small-container{
    width: 68%;
    float:right;
    background-color: rgba(229, 229, 229, 0.5);
    padding: 55px;
    padding-right: 8%;
}
section{
    overflow: hidden;
}
.sub-title,
.title{
    font-size: 40px;
    line-height: 42px;
    font-weight: 700;
    margin-bottom: 25px;
    color: #EC672C;
}
.sub-title{
    font-size: 25px;
    line-height: 29px;
    margin-top: 15px;
}
.popup-button.light,
.popup-button{
    padding: 12px 30px;
    background-color: #EC672C;
    text-align: center;
    font-size: 18px;
    line-height: 23px;
    color: #ffffff;
    border: 1px solid #EC672C;
}
.popup-button.light{    
    border: 1px solid #ffffff;
}
.popup-button:hover{
    background-color: transparent;
    color: #EC672C ;
}
.popup-button.light:hover{
    background-color: #ffffff;
}
/*--------------------*/

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
	min-width:320px;
    background-color: #ffffff;
    z-index: 2;
}

.header-container{
    max-width: 1480px;
    padding: 20px;
    margin: 0 auto;
    overflow: hidden;
}

header .logo{
    display: inline-block;
    padding-top: 8px;
    max-width: 130px;
}

header ul{
    list-style: none;
    padding: 15px 0;
    margin: 0;
}
header nav ul{
    padding-left: 40px;
    border-right: 2px solid #F2F2F2;
}
header li{
    display: inline-block;
}
header nav li{
    margin-right: 40px;
}
header nav li,
header nav li a{
    font-size: 20px;
    line-height: 23px;
    font-weight: 500;
    color:#9D9C9D;
}
header .phone{
    padding-left: 20px;
}
header .phone li{
    margin-left: 20px;
}
header .phone a{
    font-size: 18px;
    line-height: 21px;
    color:#9D9C9D;
}
header a:focus,
header a:hover{
    color:#9D9C9D;
}

.logo-bars_container{
    display: none;
    padding: 33px 0;
    position: relative;
}
nav.opened .logo-bars_container{
    z-index: 9999;
}
.logo-bars span {
    background: #9D9C9D;
    width: 24px;
    height: 3px;
    display: block;
    margin-bottom: 7px;
    border-radius: 5px;
}
.logo-bars span:last-child{
    margin-bottom: 0;
}

nav.opened .logo-bars_container .logo-bars span{
    background: #ffffff;
}

nav.opened .logo-bars_container .logo-bars span:first-child {
    -webkit-transform: rotate(50deg);
    -ms-transform: rotate(50deg);
    transform: rotate(50deg);
    position: relative;
    top: 12px;
}

nav.opened .logo-bars_container .logo-bars span:nth-child(2) {
    opacity: 0;
}

nav.opened .logo-bars_container .logo-bars span:nth-child(3) {
    -webkit-transform: rotate(-50deg);
    -ms-transform: rotate(-50deg);
    transform: rotate(-50deg);
    position: relative;
    bottom: 8px;
}
/*------main-select------*/
.ytp-large-play-button{
    background-color: #ffffff;
}
.ytp-large-play-button.ytp-touch-device .ytp-large-play-button-bg, 
.ytp-cued-thumbnail-overlay:hover .ytp-large-play-button-bg{
    background-color: #ffffff;
}
.ytp-large-play-button{
    width: 130px;
    height: 130px;
}
.svg path{
    fill: #EC672C;
}
.svg path.ytp-large-play-button-bg{
    fill: #ffffff;
}


/*about*/
.about{
    padding: 0px 0 77px;
    position: relative;
    top: -85px;
}
.about .small-container{
    padding: 175px 0 0;
    background-color: transparent;
}
.about-content{
    float: right;
    max-width: 25.6% /*370px*/;
    padding: 40px;
    background: #EC672C;
    border-bottom:10px solid rgba(157,156,157,1);
}
.about-content .title{
    margin-bottom: 15px;
    color: #ffffff;
}
.about-content p{
    font-size: 16px;
    line-height: 21px;
    color: #ffffff;
}
.ico-item{
    width: 25%;
    display: inline-block;
    vertical-align: top;
    margin: 0 -3px;
    padding-right: 20px;
    text-align: center;
    color: #9D9C9D;
    font-size: 16px;
    font-weight: 700;
}
.ico-item img{
    padding-bottom: 30px;
}
/*article*/

.article{
    background-color: rgba(229, 229, 229, 0.5);
}
.article img{
    width: 35.5%;
    padding: 0 50px 0px 0;
}
.article-container{
    padding: 55px;
    padding-left: 0;
    padding-right: 8%;
    margin-left: 35.5%;
}
.article-container{
}
.article-container p{
    margin-bottom: 30px;
}
.article-list ul{
    margin-bottom: 30px;
    list-style: none;
}
.article-list li{
    position: relative;
    font-size: 16px;
    line-height: 21px;
    font-weight: 700;
    margin-bottom: 20px;
}
.article-list li:before{
    position: absolute;
    content: "\f00c";
    display: block;
    width: 20px;
    height: 20px;
    top: 0;
    left:-40px;
    background-color: #EC672C;
    color: #ffffff;
    font-family: 'Font Awesome\ 5 Free';
    font-size: 12px;
    text-align: center;
    font-weight: 900;
}
/*client*/
.client{
    padding: 90px 0;
    text-align: center;
}
.client-container{
    max-width: 1020px;
    margin: 0 auto;
}
.client p{
    color: #9D9C9D;
    font-size: 25px;
    line-height: 29px;
    font-weight: 700;
    margin-bottom: 55px;
}
.client-list{
    padding: 0;
    margin: 0;
    list-style: none;
}
.client-list li{
    display: inline-block;
    margin: 0 10px 35px;
}
.client-list img{
    border-bottom: 10px solid #C4C4C4;
    margin-bottom: 15px;
}
.client-list span{
    display: block;
    font-size: 20px;
    line-height: 23px;
    font-weight: 700;
    color: #EC672C;
}
/*request*/
.request{
    position: relative;
}
.request .article-container{
    padding-bottom: 220px;
}
.request form{
    position: absolute;
    width: 1120px;
    max-width: 100%;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    padding: 50px;
    background-color: #EC672C;
    border-bottom: 10px solid #C4C4C4;
    overflow:hidden;
}
.request input{
    width: 240px;
    padding: 15px 20px;
    margin-right: 15px;
    float: left;
    background-color: #ffffff;
    font-size: 16px;
    line-height: 21px;
}
.request button{
    width: 240px;
    float: left;
   /* background-color: transparent;
    border: 2px solid #ffffff; 
    color: #ffffff; 
    padding: 14px 30px;
    font-size: 18px;
    line-height: 23px;
    font-weight: 700;
    text-align: center;*/
}
/*footer*/
footer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    padding: 20px;
}
.contact{
    float: right;
    max-width: 215px;
    margin-right: 125px;
    padding-top: 50px;
}
.contact p{
    font-size: 16px;
    line-height: 21px;
    margin-bottom: 20px;
}
.contact .mail,
.contact .call{
    display: block;
    font-size: 18px;
    line-height: 23px;
}
.contact .mail{
    margin: 20px 0 30px;
}
.contact .mail:hover,
.contact .mail:focus,
.contact .call:hover,
.contact .call:focus{
    color: #434343;
}
.contact .social{
    padding: 0;
    margin-bottom: 35px;
}
.contact .social li{
    display: inline-block;
    margin-right: 20px;
}
.contact .social i{
    color: #EC672C;
    font-size: 24px;
}
.contact .social a:hover{
    transform: scale(1.5, 1.5);
}
.contact .rubika{
    color: #9D9C9D;
    font-size: 12px;
    line-height: 15px;
}
.contact .rubika a{
    padding-right: 10px;
}
.contact .rubika a:hover{
    color: #EC672C;
}
.contact .rubika img{
    border-bottom: 1px solid #ffffff;
}
.contact .rubika a:hover img{
    border-bottom: 1px solid #9D9C9D;
}
footer .small-container{
    padding: 0;
}
/*---add----*/
.video-container{
    max-width: 1440px; 
    height: 700px;
    position: relative;
}
.video-container video{
    width: 100%;
    height: 100%;
	object-fit: cover;
}
.video-container .controls{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.video-container button{
    position: absolute;
    width: 130px;
    height: 130px;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    text-align: center;
    border:none;
    background-color: #ffffff;
    text-align: center;
    border: none;
}
.video-container button.flow:after{
    content: "\f04b";
    font-size: 50px;
    line-height: 130px;
    font-weight: 900;
    color: #EC672C;
    font-family: 'Font Awesome\ 5 Free';

}
.video-container.isplaying button.flow{
    display: none;
}
.video-container.isplaying .controls:hover button.flow{
    display: block;
}
.video-container.isplaying .controls:hover button.flow:after{
    content: "\f04c";
}
#map{    
    height: 415px;
}
.modal-sm{
    width: 400px;
}
.modal-dialog{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%)!important;
    max-width: 100%;
    margin: 0;
}
.modal-content{
    padding: 0 15px;
    background-color: #EC672C;
    text-align: center;
}
.modal-content p{
    font-weight: 600;
    text-align: center;
    margin: 15px 0;
    color: #ffffff;
}
.modal-content input{
    display: block;
    width: 200px;
    padding: 0;
    margin: 15px auto;
    border-bottom: 1px solid #000000;
    background-color: #EC672C;
    color: #000000;
    text-align: center;
}
.modal button.close{
    padding-top: 5px;
    opacity: 1;
}
.modal button.close span{
    color: #ffffff;
}
.modal .popup-button{
    border:2px solid #ffffff;
    padding:5px 10px;
}

@media (max-width: 1440px){
    .wrapper{
        padding-top: 130px;
    }
    header nav{
        width: 100%;
    }
    header nav ul{
        float: right;
        border:none;
        padding-top: 0;
    }
    header nav li:last-child{
        margin: 0;
    }
}

@media (max-width: 1300px){
    .about-content{
        max-width: 30%;
    }
}
@media (max-width: 1200px){

    .about-content{
        padding:20px;
    }
    /*---*/
    .request .article-container{
        padding-bottom: 0px;
    }
    .request form{
        position: static;
        transform: none;
        margin-bottom: 50px;
        width: auto;
    }
    .request button,
    .request input{
        float: none;
        display: block;
    }
    .request button{
        margin: 0 auto;
    }
    .request input{
        margin: 0 auto 20px;
        width: 100%;
    }
    footer .small-container {
        width: 64%;
    }
}
@media (max-width: 992px){
    .wrapper{
        padding-top: 85px;
    }
    .sub-title, .title{
        font-size: 30px;
        line-height: 32px;
        margin-bottom: 20px;
    }
    .video-container{
        height: 510px;
    }
    /*----*/
    header .logo{
        padding: 5px 0 0;
    }
    header nav ul{
        display: none;
    }
    header nav{
        width: auto;
    }
    header ul{
        padding: 21px 0;
    }
    header .phone{
        float: left!important;
        padding: 0;
        padding-left: 50px;
    }
    header .phone li{
        margin: 0;
        display: block;
    }
    .logo-bars_container {
        display: block; 
        padding: 10px 0 0;
    }    
    .overlay-menu{
        display: table;
        position: fixed;
        width: 100%;
        height: 100%;
        top: 50px;
        left: 0;
        padding: 0;
        background-color: rgba(236, 103, 44, 1);
        opacity: 0;
        visibility: hidden;
        -webkit-transform: translateY(75px);
        -moz-transform: translateY(75px);
        transform: translateY(75px);
    }
    nav.opened .overlay-menu {
        top: 0;
        opacity: 1;
        visibility: visible;
        -webkit-transform: translateY(0%);
        -moz-transform: translateY(0%);
        transform: translateY(0%);
    }
    nav.opened header nav ul{
        display: block;
    }
    header nav ul{
        float: none;
        padding: 0;
        display: table-cell;
        vertical-align: middle;
    }
    header nav li {
        display: block;
        text-align: left;
        margin: 20px!important;
    }
    header nav li a{
        font-size: 25px;
        line-height: 27px;
        color: #ffffff;
    }
    nav.opened a:focus, 
    nav.opened a:hover {
        color: #ffffff;
    }
    /*----*/
    .about{
        position: static;
        padding-bottom: 55px;
    }
    .about .small-container,
    .about-content{
        float: none;
        width: 100%;
        max-width: 100%;
    }
    .about .small-container{
        padding: 55px;
    }
    /*----*/
    .article img{
        width: 45%;
    }
    .article-container{
        width: 55%;
        padding-right: 20px;
        margin-left: 45%;
    }
    /*----*/
    .client{
        padding: 50px 0;
    }
    .client p{
        font-size: 20px;
        line-height: 25px;
        margin-bottom: 30px;
    }
    /*----*/
    footer .small-container {
        width: 59%;
    }
    .contact{
        max-width: 215px;
        margin-right: 80px;
    }
}


@media only screen and (max-width : 769px) {
    .wrapper{
        padding-bottom: 805px;
    }
    .video-container{
        height: 400px;
    }
    /*---*/
    .about .small-container{
        padding:55px 0 25px;
    }
    .ico-item{
        width: 50%;
        margin-bottom: 30px;
        padding-right: 0;
    }
    /*----*/
    .article img{
        display: none;
    }
    .article-container {
        padding: 20px;
        margin: 0;
        width: auto;
    }
    /*----*/
    footer .small-container{
        width: 100%;
    }
    .contact{
        float: left;
        max-width: 100%;
        margin-right: 0;
    }
}

@media only screen and (max-width : 480px) {
    
    .video-container{
        height: 250px;
    }
    .video-container button.flow{
        width: 70px;
        height: 70px;
    }
    .video-container button.flow:after{
        line-height: 70px;
        font-size: 25px;
    }
    input::-webkit-input-placeholder {font-size:15px;}
    input::-moz-placeholder          {font-size:15px;}
    input:-moz-placeholder           {font-size:15px;}
    input:-ms-input-placeholder      {font-size:15px;}
    /*----*/
    header .logo{
        padding-top: 10px;
        max-width: 100px;
    }
    header .phone{
        padding: 0;
        padding-left: 20px;
    }
    header ul{
        padding: 15px 0;
    }
    header .phone a {
        font-size: 15px;
    }
    .logo-bars_container{
        padding:10px 0;
    }
    /*------*/
    .ico-item{
        width: 100%;
        padding: 0 50px;
    }
    .ico-item img {
        padding-bottom: 15px;
    }
    /*----*/
    .request form{
        padding: 30px;
    }
    .request button{
        padding: 14px 15px;
        font-size: 15px;
        width: 100%;
    }
    /*----*/
    .modal-dialog{
        padding: 20px;
    }
    .popup-button{
        padding: 12px 19px;
        font-size: 16px;
    }
}